.form-input {
  outline: none;
  min-width: 360px;
  min-height: 40px;
  display: flex;
  margin-top: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    border-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.form-input.is-textarea {
  height: 80px;
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #4e75ff;
}
.form-input:active {
  border: 1px solid #808080;
}
label {
  display: block;
  margin-bottom: 8px;
}
.button {
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 500;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}
.button:hover,
.button:focus {
  outline: none;
  background-color: #6c8cff;
}
